<nav class="menu js-menu">
    <div class="wrapper">
        <i class="fa fa-bars"></i>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/speaker">Redner</a>
            </li>
            <li>
                <a href="/biography">Biografie</a>
            </li>
            <li>
                <a href="/author">Autor</a>
            </li>
        </ul>
    </div>
</nav>