<nav class="menu-trigger js-menu-trigger">
    <i class="fa fa-bars"></i>
</nav>
<nav class="menu js-menu">
    <div class="menu-wrapper">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/speaker">Redner</a>
            </li>
            <li>
                <a href="/biography">Biografie</a>
            </li>
            <li>
                <a href="/author"><i class="fa fa-book"></i> Autor</a>
            </li>
        </ul>
    </div>
</nav>