{{> navi }}
<div class="author">
    <h1>Bücher Überblick</h1>
    <div class="teaser book row">
        <h2 class="col-xs-12">Biodünger - Pflanzen natürlich pflegen und stärken</h2>
        <h3 class="col-xs-12">Datum der Erstveröffentlichung: 2017</h3>
        <div class="col-sm-4 col-xs-12">
            <img class="responsive-img" src="images/author/bioduenger.jpg" alt="Biodünger" />
        </div>
        <p class="col-md-8 col-xs-12">
            Gesunde Pflanzenpracht ganz ohne Chemie, das ist möglich und ohne viel Mühe im eigenen Garten anwendbar. Die Gartenprofis Joachim Mayer und Franz-Xaver Treml verraten ihre 50 besten Rezepte – von Ackerschachtelhalm-Brühe über Kompost-Tee bis Rainfarn-Auszug. Sie zeigen, wie man natürliche Flüssigdünger selbst herstellt und sie gezielt zur Stärkung und Düngung einsetzt: für fruchtbare Böden und kräftige Pflanzen im Garten, Hochbeet und auf dem Balkon.
        </p>
    </div>
    <div class="teaser book row">
        <h2 class="col-xs-12">Tomaten: von, um und über ein begehrtes Früchtchen</h2>
        <h3 class="col-xs-12">Datum der Erstveröffentlichung: 2012</h3>
        <div class="col-md-4 col-xs-12">
            <img class="responsive-img" src="images/author/tomaten.jpg" alt="Tomaten: von, um und über ein begehrtes Früchtchen" />
        </div>
        <p class="col-md-8 col-xs-12">
            Tomaten - Powerfrucht, Götterfrucht, Liebesapfel, Paradeiser ... Sie hat viele Namen, ist wahnsinnig beliebt, unglaublich vielseitig, herrlich charismatisch und schmeckt dabei einfach verführerisch gut. Für dieses Buch hat Franz-Xaver Treml 40 samenechte und bewährte Tomatensorten ausgewählt und ausführlich beschrieben. Alle Sorten werden in kurzen Textbeschreibungen und anschaulichen Bildern mit Quer- und Längsschnitt der Früchte, Blüte und Frucht portraitiert. Zudem verrät er wertvolle Tipps zu Anbau und Pflege, die für jeden Tomatenliebhaber interessant und nützlich sind. Zusammen mit Eva-Maria Stadler und Isabel Wintterlin, zwei Münchner Designerinnen, die dieses faszinierende Thema mit großer Leidenschaft zum Kochen und viel Liebe zum Detail umgesetzt haben, entstand dieses wunderschön bebilderte Buch über Tomaten. Die heitere, von Licht erfüllte, sehr stimmungsvolle Fotografie entspricht dem sonnigen Charakter der beliebten Früchte. Zahlreiche Anregungen, viele leckere Rezepte, Interessantes, Wissenswertes und allerlei Nettes über das "pralle Früchtchen" sollen Lust wecken, unterhalten, inspirieren und zum Ausprobieren und Anbauen einladen - denn selbstgezogene Tomaten schmecken nun mal am besten.
        </p>
    </div>
    <div class="teaser book row">
        <h2 class="col-xs-12">Exotische Kräuter</p>
        <h3 class="col-xs-12">Datum der Erstveröffentlichung: 2010</h3>
        <div class="col-md-4 col-xs-12">
            <img class="responsive-img" src="images/author/exotische-kraeuter.jpg" alt="Exotische Kräuter" />
        </div>
        <p class="col-md-8 col-xs-12">
            Lernen Sie faszinierende Blüten und Blattformen, verblüffende Aromen und seltene Geschmacksrichtungen kennen. Über 150 Fotos zeigen Ihnen die Schönheit und die Besonderheiten der Welt der exotischen Kräuter. Ausführliche Beschreibungen erklären die richtige Pflege, Ernte und Verwendung würziger und heilkräftiger Kräuter aus fernen Ländern. 70 Asia-Kräuter 50 Kräuter aus Nord-, Mittel- und Südamerika 16 afrikanische Kräuter 7 Kräuter aus Australien und Tasmanien. Ein umfassendes Praxisbuch und Nachschlagewerk für Neugierige und Kräuterfreunde.
        </p>
    </div>
    <div class="teaser book row">
        <h2 class="col-xs-12">Heilkraft aus dem Garten: Geheimnisse eines Kräutergärtners</h2>
        <h3 class="col-xs-12">Datum der Erstveröffentlichung: 2008</h3>
        <div class="col-md-4 col-xs-12">
            <img class="responsive-img" src="images/author/heilkraft-aus-dem-garten.jpg" alt="Heilkarft aus dem Garten" />
        </div>
        <p class="col-md-8 col-xs-12">
            Gegen jedes Leiden ist ein Kraut gewachsen!, sagt Franz-Xaver Treml und erzählt in diesem Buch von seinen Lieblingskräutern. Außerdem gibt er wertvolle Ratschläge für die wirkungsvollste Anwendung bei vielen Beschwerden. Ob Gundermann, Melisse oder Ringelblume: Zahlreiche hilfreiche Heilpflanzen wachsen auch in Ihrem Garten und können ganz leicht verwendet werden. Nutzen Sie die Kraft der Kräuter aus dem eigenen Garten für Ihr Wohlbefinden. Mit den Rezepten aus Franz-Xaver Tremls reichen Erfahrungsschatz fühlen Sie sich wohl und bleiben gesund.
        </p>
    </div>
    <div class="teaser book row">
        <h2 class="col-xs-12">Kräuter aus dem Garten</h2>
        <h3 class="col-xs-12">Datum der Erstveröffentlichung: 2007</h3>
        <div class="col-md-4 col-xs-12">
            <img class="responsive-img" src="images/author/kraeuter-aus-dem-garten.jpg" alt="Kräuter aus dem Garten" />
        </div>
        <p class="col-md-8 col-xs-12">
            Kräutergärtner Franz-Xaver Treml beschreibt ausführlich unsere Küchen-, Heil- und Wildkräuter sowie viele interessante Kräuter-Raritäten und erklärt alles über Standort, Pflege und Sortenwahl. Über 500 Kräuter werden im Portrait vorgestellt: Küchenkräuter, Gewürze, Heilkräuter, Asiatische Kräuter, Kräuter-Raritäten, Wildkräuter. Ein umfassendes Nachschlagewerk für alle Kräuterliebhaber.
        </p>
    </div>
    <div class="teaser book row">
        <h2 class="col-xs-12">Geheimnisse im Kräutergarten: Pflanzen der Liebe</h2>
        <h3 class="col-xs-12">Datum der Erstveröffentlichung: 2001</h3>
        <div class="col-md-4 col-xs-12">
            <img class="responsive-img" src="images/author/geheimnisse-im-kraeutergarten.jpg" alt="Geheimnisse im Kräutergarten" />
        </div>
        <p class="col-md-8 col-xs-12">
            Pflanzen der Liebe
Die Liebe beschäftigt die Menschen ein ganzes Leben lang. So ist es heute – so war es bei unseren Altvorderen. Vor dem Einzug der Moderne fühlten sich die Menschen in den Kosmos von Natur und Schöpfung eingebunden. So verbanden die Menschen die sie umgebende Pflanzenwelt auch mit dem Liebesbrauchtum.
        </p>
    </div>
</div>