{{> navi }}
<div class="home">
    <h1>Jeder Garten beginnt auf einer grünen Wiese!</h1>
    <p>
        <b>Franz-Xaver Treml</b> ist ein Gärtner mit Leib und Seele und ist seit über 30 Jahren ein Vollblut-Gärtner.
    </p>
    <p>
    Kräuter sind die Würze jedes Essens. Sie verfeinern den Geschmack und bereichern jede Speise mit nahrhaften und heilenden Substanzen. Ob im Garten gezogen, auf der Fensterbank oder dem Balkon gehegt oder auch in der Natur gesammelt: Kräuter sind für alle Gelegenheiten wie geschaffen. Selbst als "Zierpflanze" verzaubern sie uns durch ihren Duft und ihre zarten Blüten. Und so werden der Spaziergang in der Natur, das Fensterschauen oder auch ein Streifzug durch den Garten zu "Heilenden Begegnungen": Da ein Blättchen vom Salbei, dort ein würziges Stück Grün vom Bärlauch und , zwischendurch noch eine Blattspitze von der Pfefferminze
    </p>
    <video autoplay>
        <source src="videos/lotus.mp4" type="video/mp4">
    </video>

</div>