{{> navi }}
<h1>Jeder Garten beginnt auf einer gr체nen Wiese!</h1>
<p>
    <b>Franz-Xaver Treml</b> ist ein G채rtner mit Leib und Seele und ist seit 체ber 30 Jahren ein Vollblut-G채rtner.
</p>
<div class="animated-flower">
    <img src="images/flower.jpg" alt="" />
</div>